In [1]:
num1 = 5
num1

5

In [2]:
type(num1)

int

In [3]:
num2 = 4.5
type(num2)

float

In [4]:
hello_str ="Hello world"
type(hello_str)

str

Type conversion

In [5]:
float(str(num1))

5.0

In [6]:
type(print())

NoneType

In [7]:
bool_var = True
type(bool_var)

bool

In [10]:
cp_var = 2j
type(cp_var)

complex

float and integer data types are mostly used for arithemtic operations

In [14]:
a =5; b=9
prod_val =a*b
prod_val

45

In [17]:
age = int(input("Enter student's Age"))

Enter student's Age 40

In [18]:
type(age)

int

prog that calculates the  circumference of a circle, hint : formular: c= 2pr

In [19]:
r = 3
pi = 3.142
circ_circle = 2*pi*r
circ_circle

18.852

In [22]:
import math
r = float(input('enter value for radius'))
circum = round(2*(math.pi*r), 4)
circum

enter value for radius 3

18.8496

In [23]:
#round off and round up values using ceil and floor
val1 = 34.0545
math.ceil(val1)

35

In [24]:
math.floor(val1)

34

In [25]:
math.e

2.718281828459045

In [27]:
list_item =[2,10465, 543, 98, 4, 5, 8, 6, 432, 5994, 98]

In [29]:
list_item.sort()
list_item

[2, 4, 5, 6, 8, 98, 98, 432, 543, 5994, 10465]

In [34]:
#maximum val
list_item[-1]

10465

In [35]:
#minimum val
list_item[0]

2

In [36]:
list_item[0] == list_item[-11]

True

In [42]:
#lets get the length of the list
len(list_item)

11

In [49]:
num = [1,2,3,4,5,6,7,8,9,10]
num2 = range(11)
for i in num2:
    print(i)

0
1
2
3
4
5
6
7
8
9
10

#string operation

this is how you manipulate text data

In [52]:
#concatenation : joining strings into one
fname= "Michael"
lname= "Egbujua"

fullname= fname + lname
fullname

'MichaelEgbujua'

In [53]:
fullname = fname+ " " +lname
fullname

'Michael Egbujua'

In [55]:
print(f"your fullname is {fullname}")

your fullname is Michael Egbujua

## class assignment

1. write a program that will ask user to enter their salary and their monthly expenditure. 
if the monthly expenses is less than the salary the user is living within mean else user is living above means

2. write a program that calculate simple interest, by recieveing details from users

3. given that q = [30, 45, 23, 12, 89, 79, 235, 0.8, 42,38] , arrange in ascending order, find, minimum and maximum values respectively