## List Slicing

In [1]:
a = [1,2,3,4,5,6,7,8,9]

In [2]:
a[2:8]

[3, 4, 5, 6, 7, 8]

In [3]:
a[-1 ] #prints the last element in the list

9

In [4]:
a[: :-1]  #prints the reverse of the list

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
a[0:-1]

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
a[::]  #prints the whole list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
b ="Hello, World"

In [8]:
b[2:9]

'llo, Wo'

In [9]:
b[5:]

', World'

In [10]:
b[5]

','

In [11]:
b[5]==b[5:]

False

In [12]:
b[5::]

', World'

In [13]:
b[5::]==b[5:]

True

In [14]:
b[5:-1]

', Worl'

In [15]:
b[:8:2]

'Hlo '

First Assignment:

write a program that accepts a word from the user and display if its a palindrom or not

In [16]:
#For loop (intro)
p = [1,2,3,4,5]

In [17]:
for i in p:
    print(p*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [18]:
for i in p:
    continue
print(p*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [19]:
for i in range(10):
    if i % 2 == 0:
        continue
     
    print(i)

1
3
5
7
9

Write a program using loops to answer the following: c = [6, 10, 20, 5, 3, 2, 1]

1. sum of c

In [20]:
c= [6,10,20,5,3,2,1]

In [21]:
 r = 0
for i in c:
    r=r +i
    print(r)

6
16
36
41
44
46
47

In [22]:
r = 0
for i in c:
    r=r +i
print(r)

47

In [23]:
#find the max and min values
c.sort()

In [24]:
max = c[-1]
max

20

In [25]:
min =c[0]
min

1

In [26]:
c= [6,10,20,5,3,2,1]

In [27]:
#finding the maximum value of c
d=0
for i in c:
    if i>d:
        d=i
    print(d)

6
10
20
20
20
20
20

In [35]:
#finding the minimum value of c
d=0
for i in c:
    if i<d:
        d=i
    print(i)

6
10
20
5
3
2
1

second Assignment:
1. find the mean of the list f= [3,5,9,5,20,4] using the for loop method
2. slice f from the second element
3. reverse f list using slicing method

## list Comprehension
list_comp [ (outcome) (for loop iteration) (if conditionals (if any))]

In [36]:
p= [2,4,6,8]

In [37]:
pilp = [i**2 for i in p ]
pilp

[4, 16, 36, 64]

In [45]:
for i in p:
    pilp=i**2
    print(pilp)

4
16
36
64

In [50]:
pilp = [i**2 for i in p if i%2==0]
pilp

[4, 16, 36, 64]

#write a program to check if a word is a palindrome
word = input('enter a word')
if word == word[::-1]:
    print(f'{word} is a palindrome')
else:
    print(f'{word} is not a palindrome')

Assignment 2
1. write a list comprehension that has a range of values between 10 to 21, if the values are at least 13 and at most 16

In [43]:
list_val =[num for num in range(10,21) if num>=13 and num<=16]
list_val

[13, 14, 15, 16]

In [46]:
list_val =[]
i =0
for i in range(10,21):
    if i>=13 and i<=16:
        list_val.append(i)
print(list_val)

[13, 14, 15, 16]

In [ ]:
second Assignment:

find the mean of the list f= [3,5,9,5,20,4] using the for loop method
slice f from the second element
reverse f list using slicing method

In [3]:
#find the mean of the list f= [3,5,9,5,20,4] using the for loop method
f=[3,5,9,5,20,4]
f.sort()
f

[3, 4, 5, 5, 9, 20]

In [6]:
for i in f:
    mean_val = round(i/len(f),3)
print(mean_val)

3.333

In [15]:
#Alternatively:
mean_value = [round(i/len(f),3) for i in f]
print(mean_value[-1])

3.333

In [16]:
#slice f from the second element till the end
f= [3,5,9,5,20,4]
f[1:]

[5, 9, 5, 20, 4]

In [24]:
#reverse f 
f = [3,5,9,5,20,4]
f[::-1]

[4, 20, 5, 9, 5, 3]

assignment correction

In [31]:
f = [3, 5, 9, 5, 20, 4]
total = 0
count = 0
for number in f:
    total = total + number
    count = count + 1
mean = total / count
print("mean:", mean)

mean: 7.666666666666667

In [38]:
f = [3, 5, 9, 5, 20, 4]
f.sort
f

[3, 5, 9, 5, 20, 4]

In [41]:
add_num=0
for i in f:
    add_num += i
mean = round(add_num/len(f), 4)
mean

7.6667

In [42]:
f = [3, 5, 9, 5, 20, 4]
f[2:]

[9, 5, 20, 4]

## List Comprehension Cotinued and Zip() function

In [47]:
#a list comprehension that accept only numbers lower than 5
num = [i for i in range(10) if i<5]
num

[0, 1, 2, 3, 4]

In [52]:
#a program that will generate 50 random integers
import random
rand_num =[]
for i in range(50):
    num = random.randint(0,9)
    rand_num.append(num)
rand_num

[2,
 6,
 5,
 1,
 7,
 2,
 4,
 9,
 0,
 0,
 2,
 9,
 6,
 7,
 4,
 8,
 4,
 6,
 1,
 5,
 6,
 9,
 3,
 0,
 5,
 4,
 0,
 4,
 9,
 2,
 5,
 9,
 0,
 9,
 6,
 0,
 9,
 8,
 6,
 7,
 0,
 5,
 7,
 7,
 6,
 0,
 0,
 8,
 7,
 0]

 ## Using Zip() function

using the zip function add the lists a = [3,5,7, 9]
b = [2,4,6,8 ]

In [58]:
a = [3,5,7,9]
b = [2,4,6,8]
c= a + b
c

[3, 5, 7, 9, 2, 4, 6, 8]

In [66]:
a = [3,5,7,9]
b = [2,4,6,8]

add_num=[]
for i,j in zip(a,b):
    if len(a) != len(b):
        print('the both length must be equal')
    else:
        add_ab= a + b
        add_num.append(add_ab)
print(add_num[-1])

[3, 5, 7, 9, 2, 4, 6, 8]

In [69]:
add_num= [a+b for i,j in zip(a,b) if len(a)==len(b)]
add_num[0]

[3, 5, 7, 9, 2, 4, 6, 8]

In [83]:
f_name = ['bola', 'nnamdi','ben', 'philly', 'gabby']
l_name = ['teddy', 'juan', 'uli', 'amadi', 'uriel']

#check if the list have eqaul elements
if len(f_name)==len(l_name):
    for i in range(0,len(f_name)):
        #capitalize the first letters of the word
        new_f= f_name[i][0].upper() + f_name[i][1:]
        #print(new_f)
        new_l =l_name[i][0].upper()  + l_name[i][1:]
        #print(new_l)
        print(new_f +" "+ new_l)

Bola Teddy
Nnamdi Juan
Ben Uli
Philly Amadi
Gabby Uriel

In [87]:
#Alternatively you can use the capitalize() function to reduce the codes
f_name = ['bola', 'nnamdi','ben', 'philly', 'gabby']
l_name = ['teddy', 'juan', 'uli', 'amadi', 'uriel']

if len(f_name)==len(l_name):
    for i in range(0,len(f_name)):
        #capitalize the first letters of the word
        new_f= f_name[i].capitalize()
        #print(new_f)
        new_l =l_name[i].capitalize()
        #print(new_l)
        print(new_f +" "+ new_l)
else:
    print("the list sizes must be same")

Bola Teddy
Nnamdi Juan
Ben Uli
Philly Amadi
Gabby Uriel

In [98]:
f_name = ['bola', 'nnamdi','ben', 'philly', 'gabby']
l_name = ['teddy', 'juan', 'uli', 'amadi', 'uriel']
if len(f_name) == len(l_name):
    newf= f_name[i].capitalize()
    newl= l_name[i].capitalize()
    #print(newf + " " +new_l)
    fullname= [f_name[i].capitalize()+" "+l_name[i].capitalize() for f,l in zip(f_name,l_name) ]
    print(fullname[])
else:
    print("the list must be of same size")

Gabby Uriel

## Using a List Constructor
using list()

In [101]:

fruits =list(("cherry", "pear", "pineapple","apple", "apple", "Guava"))
fruits

['cherry', 'pear', 'pineapple', 'apple', 'apple', 'Guava']

In [102]:
set(fruits)

{'Guava', 'apple', 'cherry', 'pear', 'pineapple'}

In [103]:
fruits =list(("cherry", "pear", "pineapple","apple", "Guava"))

In [104]:
#change item value in the list List Accessing
fruits[3]="Blackcurrant"
fruits

['cherry', 'pear', 'pineapple', 'Blackcurrant', 'Guava']

In [106]:
fruits[2] = 'papaya'
fruits

['cherry', 'pear', 'papaya', 'Blackcurrant', 'Guava']

In [112]:
#how to use the copy() function
tropical = fruits.copy()
tropical

['cherry', 'pear', 'papaya', 'Blackcurrant', 'Guava']

In [118]:
#using the extend() function is like join

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

## Tuple
A tuple is a built-in data structure in Python that is an ordered collection of objects. Unlike lists, tuples come with limited functions. The primary differing characteristic between lists and tuples is mutability. Lists are mutable, whereas tuples are immutable. Tuples cannot be modified, added, or deleted once they’ve been created. 

A tuple is a collection which is ordered and unchangeable(immutable) .

Tuples are written with round brackets ().

In [107]:
#Create a Tuple:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [109]:
#because tuples are immutable , they do not allow changing of elements
mytuple [-1]= "Banana"
mytuple

TypeError: 'tuple' object does not support item assignment

New Assignment
1. Write a program that reads a positive integer, n, from the user and then displays the
sum of all of the integers from 1 to n. The sum of the first n positive integers can be
computed using the formula: sum n(n + 1)/2.

2. An online retailer sells two products: widgets and gizmos. Each widget weighs 75
grams. Each gizmo weighs 112 grams. Write a program that reads the number of
widgets and the number of gizmos in an order from the user. Then your program
should compute and display the total weight of the order.

3. The length of a month varies from 28 to 31 days. In this exercise you will create
 a program that reads the name of a month from the user as a string. Then your
 program should display the number of days in that month. Display “28 or 29 days”
 for February so that leap years are addressed.

4. number_list = [100, 34, 67, 89, 78, 21, 36], write a program that will loop into the element of the list, if the element is a multiple of 3 you should 
  print Huray (and end the running of the code), but if its not a multiple of 3 print Nay

5. create a copy of the content of the number_list using the copy() function

Happy weekend
!!!!!