## class assignment
given that q = [30, 45, 23, 12, 89, 79, 235, 0.8, 42,38] , arrange in ascending order, find, minimum and maximum values respectively

In [1]:
# program to find minnmum and maximum in a list
a = [30, 45, 23, 12, 89, 79, 235, 0.8, 42, 38]
# sort the list
a.sort ()
#get minimum and maximum
minimum = a[0]
maximum = a[-1]
# output results
print("sort list:", a)
print("minimum value:", minimum)
print("maximum value:", maximum)

sort list: [0.8, 12, 23, 30, 38, 42, 45, 79, 89, 235]
minimum value: 0.8
maximum value: 235

using keywords as variable names are prohibited in python, it cannot work. it will throw an error because keywords are in-built in python

use cammel case (capitalise the first letter) or Snake case (underscore) for variable naming

In [2]:
NewCar = "Benz"   #Cammel case variable naming
old_car = "Nissan" #Snake case variable naming

string is a data structure that cannot be changed, 
it can use single quote (' '), double quote. the interpreter reads it all the same.

but tripple quote is used for long comment ''' we can start coding within seconds and its running smootly'''

In [3]:
fname = 'Precious' 
lname = "Eseme"

In [4]:
a = 'Hello' ; b= 'World'
c = a + b
c

'HelloWorld'

In [5]:
a = 'Hello ' 
b = 'world'
c = a + b
c

'Hello world'

hence joining first name and last name can also be achieved using the "+" symbol. Note : in string operation + sign is used for concatenation

In [6]:
fullname = fname+ " " + lname
fullname

'Precious Eseme'

In [7]:
add_p = fname + 4
add_p

TypeError: can only concatenate str (not "int") to str

you cannot combine or add a string with a numeral , but you can multiply a string with a numeral in python . Hence the above error message

In [ ]:
multi_p = fname * 4
multi_p

In [ ]:
# String Formatting styles

age= 24
txt= 'my name is Grace and i am {} years old'
print(txt.format(age))

In [ ]:
print(f'my name is Grace and i am  {age} years old')

## first assignment:
1, write a code that calculates Body Mass index (BMI)

the program should take users weight and height  and calculate body mass index #BMI_formular = weight (kg)/[height(ft)]**2

2, write a program that concatenates elements of two lists
a = ["pan", "pot", "keg", "bowl"]
b = ["pen", "pray", "man", "Presh"]

Boolean data types

In [ ]:
10> 3

In [ ]:
ayo = 12
ayo_father = 43
ayo<ayo_father

In [ ]:
ayo > ayo_father

In [ ]:
if ayo >= 2*(ayo_father):
    print("father is twice older")
else:
    print("son is way younger")

write a program that displays "junior staff" if  salary is at most 100,000

In [9]:
emp_salary = int(input("enter salary value"))
if emp_salary<=100000:
    print("Junior staff")
else:
    print("senior staff")

enter salary value 10000

Junior staff

In [12]:
x = "Hello"
y = 23
z = 0
print(bool(x))
print(bool(y))
print(bool(z))

True
True
False

The basic Python data structures in Python include list, set, tuples, and dictionary. 
Each of the data structures is unique in its own way. 
Data structures are “containers” that organize and group data according to type.

In [13]:
combined_list = [1, 12.4, "Precious", (2,34,1), {"man": 23, "Woman": 12, "child": 20}]

In [14]:
combined_list

[1, 12.4, 'Precious', (2, 34, 1), {'man': 23, 'Woman': 12, 'child': 20}]

a list can have duplicate values and it is changable but a set cannot have duplicate values

In [30]:
names = ['Bimbo', 'Michael', 'Akin', 'Akin', 'Precious']
surnames = set(['ayola', 'poopola', 'kelvin', 'Jesse', 'Jesse'])


print(names)
print(surnames)

['Bimbo', 'Michael', 'Akin', 'Akin', 'Precious']
{'ayola', 'Jesse', 'kelvin', 'poopola'}

In [20]:
set_items=set(names)
print(set_items)

{'Precious', 'Akin', 'Michael', 'Bimbo'}

In [19]:
print(names*2)

['Bimbo', 'Michael', 'Akin', 'Akin', 'Precious', 'Bimbo', 'Michael', 'Akin', 'Akin', 'Precious']

sets do not support element multiplication

In [28]:
print(set_items * 3)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [24]:
mylist = ["apple", "banana", "cherry"]
mylist

['apple', 'banana', 'cherry']

In [26]:
mylist[0]

'apple'

In [27]:
len(mylist)

3

In [31]:
fname = ["ayodeji", "Michael", "Precious", "Kevwe"]
lname = ["cole", "Aremu", "Worlu", "Kingsley"]

In [35]:
if len(fname) == len(lname):
    fullname= fname + lname
    print(fullname)
else:
    print("the lists are different length")

['ayodeji', 'Michael', 'Precious', 'Kevwe', 'cole', 'Aremu', 'Worlu', 'Kingsley']

In [33]:
fname[1]

'Michael'

In [34]:
len(fname[1])

7

In [36]:
#popping withouth index
fullname.pop()
fullname

['ayodeji', 'Michael', 'Precious', 'Kevwe', 'cole', 'Aremu', 'Worlu']

In [37]:
#popping with index
fullname.pop(2)
fullname

['ayodeji', 'Michael', 'Kevwe', 'cole', 'Aremu', 'Worlu']

In [38]:
#append - add new element at the last position in the list
fullname.append("Kingsley")
fullname

['ayodeji', 'Michael', 'Kevwe', 'cole', 'Aremu', 'Worlu', 'Kingsley']

In [40]:
#insert - uses indexing
fullname.insert(2, "Precious")
fullname

['ayodeji',
 'Michael',
 'Precious',
 'Kevwe',
 'cole',
 'Aremu',
 'Worlu',
 'Kingsley']

## second Assignment
 write a program that ask user for a number in seconds and print out how many munites and seconds that is